body{
    background: rgb(0, 104, 132)
}

.header-content{
    text-align:center; 
}

h1{
    text-align:center; 
}

.btn{
    background-color: rgb(176, 0, 81);
    color: #F68370; 
    padding: 10px 20px; 
    cursor: pointer
}

.cats{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.random_cats{
    width: 40%; 
}

img{
    max-width:700px; 
    height: 30rem; 
}